form.etsy-test-form {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

form.etsy-test-form fieldset.code {
  background-color: #e1e1e1;
  color: #7a7a7a;
  font-family: monospace;
  overflow: scroll;
  max-height: 400px;
}