<span class="etsy-listing-price" data-currency-symbol="{{ symbol }}" data-amount="{{ amount }}" data-currency-code="{{ currency_code }}">
    {% if symbol is not empty %}{{ symbol }} {%endif%}{{ amount }} ({{ currency_code }})
</span>